<h3 class="wi">Recent job statuses</h3>

<div class="delete_jobs">
  Delete jobs in&nbsp;
  <a href="<%= root_path %>statuses/delete/complete" onclick="return confirm('Are you sure? Delete is irreversible')">
    complete
  </a>
  ,&nbsp;
  <a href="<%= root_path %>statuses/delete/finished" onclick="return confirm('Are you sure? Delete is irreversible')" title="<%= SidekiqStatus::Container::FINISHED_STATUS_NAMES.join(', ') %>">
    finished
  </a>
  ,&nbsp;
  <a href="<%= root_path %>statuses/delete/all"      onclick="return confirm('Are you sure? Delete is irreversible')">
    all
  </a>
  &nbsp;statuses
</div>

<% sort_symbol = !params['order_by'] || params['order_by'] == 'desc' ? "↑" : "↓" %>
<% order_by = !params['order_by'] || params['order_by'] == 'desc' ? 'asc' : 'desc' %>
<table class="table table-striped table-bordered">
  <tr>
    <th>Worker/jid</th>
    <th>Job args</th>
    <th>
      <a href="<%= root_path %>/statuses?sort=status&order_by=<%= order_by %>&page=1">
        Status <%= sort_symbol if params[:sort] == 'status' %>
      </a>
    </th>
    <th>
      <a href="<%= root_path %>/statuses?sort=last_updated&order_by=<%= order_by %>&page=1">
        Last Updated <%= sort_symbol if !params[:sort] || params[:sort] == 'last_updated' %>
      </a>
    </th>
    <th>Progress</th>
    <th>Message</th>
    <th>Actions</th>
  </tr>
  <% @statuses.each do |container| %>
    <tr>
      <td>
        <a href="<%= root_path %>/statuses/<%= container.jid %>">
          <%= container.worker %>
          <br />
          <%= container.jid %>
        </a>
      </td>
      <td><%= container.args.to_json  %></td>
      <td><%= container.status %></td>
      <td><%= container.last_updated_at %></td>
      <td>
        <div class="progress progress-striped" style="margin-bottom: 0">
          <div class="bar" style="width: <%= container.pct_complete %>%; text-shadow: 1px 1px 1px black">
            <%= container.pct_complete %>%
          </div>
        </div>
      <td><%= container.message %></td>
      <td>
        <% if container.killable? %>
          <a class="kill" href="<%= root_path %>statuses/<%= container.jid %>/kill" onclick="return confirm('Are you sure?')">Kill</a>
        <% elsif container.kill_requested? %>
          Kill requested
        <% end %>
      </td>
    </tr>
  <% end %>
  <% if @statuses.empty? %>
    <tr>
      <td colspan="6"></td>
    </tr>
  <% end %>
</table>


<% url = "#{root_path}statuses" %>
<% if @total_size > @count %>
  <ul class="pagination pull-right flip">
    <li class="<%= 'disabled' if @current_page == 1 %>">
      <a href="<%= url %>?<%= url_params('page' => 1) %>">&laquo;</a>
    </li>
    <% if @current_page > 1 %>
      <li>
        <a href="<%= url %>?<%= url_params('page' => @current_page - 1) %>"><%= @current_page - 1 %></a>
      </li>
    <% end %>
    <li class="disabled">
      <a href="<%= url %>?<%= url_params('page' => @current_page) %>"><%= @current_page %></a>
    </li>
    <% if @total_size > @current_page * @count %>
      <li>
        <a href="<%= url %>?<%= url_params('page' => @current_page + 1) %>"><%= @current_page + 1 %></a>
      </li>
    <% end %>
    <li class="<%= 'disabled' if @total_size <= @current_page * @count %>">
      <a href="<%= url %>?<%= url_params('page' => (@total_size.to_f / @count).ceil) %>">&raquo;</a>
    </li>
  </ul>
<% end %>
